@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

        background-image: url('mario-sessions-0TmYp58QVNQ-unsplash.jpg'); 
        background-size: cover;
        background-position: center;
        opacity: 0.8; 
        font-family: 'poppins';
        
}
.container {
    max-width: 400px;
    color: white;
    margin: 50px auto;
    padding: 20px;
    background-color: #142e57;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
   }
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.checkbox {
    margin-bottom: 15px;
}
.links {
    text-align: center;
    padding: 15px;
    }
.links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    
}
.links button{
    margin: 0 5px;
    
    border-radius: 10px;
    padding: 6px;
   
    }
h2{
    color: white;
}